@import "./normalize.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

.nav-item {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #101010;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
