@import "./normalize.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navigation */
.nav {
  background: #6a5acd;
}

.nav > ul {
  margin: 0;
}

.nav > ul > li {
  padding: 10px;
  text-align: right;
}

.nav > ul > li > a {
  color: #fff;
}
